iframe.a.d.xy.lo {
  border: none; outline: none;
  width: 0%;
  height: 0%;
}

iframe.a.d.xy.lo.bnr {
   border: none; outline: none;
  width: 0%;
  height: 0%;
}

iframe.a.d.xy.lo.sqr {
   border: none; outline: none;
  width: 0%;
  height: 0%;
}
