body{
  background-color:#00023b;
}

h1{
  margin: 0 auto;
  color: #d60202;
  text-allign: center;
  text-font: "aceme";
}

p1{
  color: #d60202;
  margin: 0 auto;
  text-allign: center;
  text-font: "aceme";
}

div{
  background-color: #d60202;
  margin: 0 auto;
  text-allign: center;
  text-font: "aceme";
}
