body{
  background-color:#00023b;
}

h1{
  text-allign: center;
  color: #d60202;
  text-font: "aceme";
}

p1{
  text-allign: center;
  color: #d60202;
  text-font: "aceme";
}

div{
  text-allign: center;
  background-color: #000000;
  color: #d60202;
  text-allign: center;
  text-font: "aceme";
}
